<p>ticket-confirmation works!</p>
<div class="container">
    <div class="row">
        <h1>Ticket :Confirmation</h1>
    </div>
    <div class="row">
        <div class="col">

            <button class="btn btn-sm btn-secondary">print</button>
            <button class="btn btn-sm btn-secondary"><a [routerLink]="['/generate-ticket']">Edit</a></button>
            <button class="btn btn-sm btn-secondary"><a [routerLink]="['/']">Return to Home Page</a></button>
        </div>
        <div class="col">

        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
</div>