<div class="row">
    <p>Please enter your email id and your information will be e-mailed to you</p>
</div>
<div class="row">
    <div class=" col-md-offset-1 col-md-4">
        <label for="email">Enter nagarro EmailId*</label>
        <input formControlName="email" class="form-control" pattern=".+@nagarro.com" size="30" placeholder="user@nagarro.com" required>
    </div>
</div>
<div class="row " style="margin-top: 40px; ">
    <div class="col-md-offset-1 col-md-4 ">
        <button class="btn btn-md btn-primary btn-style ">Submit</button>
    </div>
</div>
<div class="row" style="margin-top: 40px;">
    <div class="col-md-offset-1 col-md-4">
        <a [routerLink]="['/']">Return to Login Page</a>
    </div>
</div>